body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
      background-color: #f5f6f7;
  }
  p {
      font-size: 16px;
    }
  .margin {
      margin-bottom: 45px;
    }
  .bg-1 { 
      background-color: #f5f6f7;
      color: #474e5d; 
      width: 75%;
  }
  .bg-2 { 
      background-color: #474e5d; 
      color: #f5f6f7;
      padding-left: 70px;
      padding-right: 70px;
  }
  .bg-3 { 
      background-color: #f5f6f7;
      color: #474e5d; 
  }
  .bg-4 { 
      background-color: #2f2f2f; 
      color: #fff;
      
  }
  .container-fluid {
      padding-top: 30px;
      padding-bottom: 30px;
  }
  .navbar {
      background-color: #f5f6f7;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

.vasenlohko {
    width: 60%;
    float: left;
}

.oikealohko {
    width: 40%;
    float:right;
}

.owner {
    font-size: 11px;
}

.link a {
    color: #474e5d;
}

.link a:hover {
     color: #1abc9c;
}